@use 'src/styles/vars';

.Form {
  margin-left: 5%;
  margin-right: 5%;
  &__config {
    margin-top: 50px;
  }
  &__inside {
    margin-top: 20px;
  }
  &__button {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

