//messages

.sent {
  display: flex;
  flex-direction: row-reverse;
}

.sent{
    width: fit-content;
    .content{
        margin-left: 250px;
        max-width: 80%;
        margin: 5px;
        margin-right: 20px;
        border-radius: 15px;
        background-color: #0b81ff;
        color: white;
        border: solid 1px;
        padding: 10px;
        padding-left: 20px;
    
        border-color: rgb(226, 226, 226);
        &__header{
            font-weight: lighter;
        }
        &__body{

        }
    }
}
.received{
    width: fit-content;
    padding-left: 20px;
    .content{
        max-width: 80%;
        background-color: white;
        margin: 5px;
        margin-left: 5px;
        padding: 10px;
        border-radius: 10px;
        border: solid 1px;
        padding-left: 20px;
        border-color: rgb(226, 226, 226);
        &__header{
            font-weight: lighter;
        }
        &__body{
            
        }
    }
}      

// LOGIN

.container{
    margin-top: 50px;
}
