.checked {
  color: orange;
}
@media screen and (max-width: 800px) { 
  .pres {
    &__firstrow {
      display: flex;
      flex-direction: column;
    }
    &__secondrow {
      display: flex;
      flex-direction: column-reverse;
    }
    &__short {
      margin: 5px 0px 5px 0px;
      padding: 5px;
    }
  }  

  .show-team {
    display: flex;
    flex-direction: column;
    margin: 0;
    &__one {
      width: 100% !important;
      justify-content: space-around;
      margin: 5px
    }
  }

  .testimonies {
    &__row{
      width: 100%;
      display: flex;
      flex-direction: column;
    }   
  }
}


@media screen and (min-width: 801px) { 

  .show-team {
    display: flex;
    justify-content: space-around;

    &__one {
      width: 20%;
    }
  }


  .test {
    height:400px;
  }

  .pres {
    padding: 2em;

    &__short {
      font-size: 24px;
      margin-top: auto;
      margin-bottom: auto;
    }
  }
  .home-team {
    margin: 2em 0em 2em 0em;
  }


  // témoignages 
  .testimony {
    display: flex;
    margin: 2em 0em 2em 0em;
    text-align: left;
    &__content {
      font-size:14px;
    
    }
    
    &__img {
      margin: 0em 1em 0em 1em;
    }

  }
}
