.test {
  height:400px;
}

.pres {
  padding: 2em;

  .short-text {
    font-size: 24px;
    margin-top: auto;
    margin-bottom: auto;
  }
}
.home-team {
  margin: 2em 0em 2em 0em;
}

.home-one-testimony {
  display: flex;
  margin: 2em 0em 2em 0em;
  text-align: left;
  &__content {
    font-size:14px;
   
  }


  &__img {
    margin: 0em 1em 0em 1em;
  }

  &__name {
  }
}
