.user {
  display: flex;
  justify-content: space-between;
  &__nav{
    display:flex;
    flex-direction: column;
    width:20%;
    background-color:#fff;
  }

  &__body{
    width: 70%;
    background-color: #fff;
    text-align: left;

    h1{
     margin: 25px;
    }

    #center{
      text-align: center;
    }



    #just-center{
      justify-content: center;
    }

    #chat-avatar{
      height: 40px;
    }
    &__messages{
      justify-content: center;
      
      #right{
        text-align: right;
    }
    }
  }
}

.order {
  &__items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    &__one {
      width: 25%;
      padding: 1em 2em 1em 2em;
    }
  }
}

.clients {
  &__row{
    display: flex;

    &__cell{
      padding: 1em;
      width: 12.5%;
      font-size: 12px;
    }
  }
}

.jumbotron{
  background-image: url(https://picsum.photos/1366/720);
}
