.app {

  min-height: 100vh;
  text-align: center;
  background-color: #ffffff;
  position: relative;
}

@media screen and (max-width: 992px) { 

  .content-wrap{
    padding-bottom: 40rem;
  }
}

@media screen and (min-width: 992px) { 
  .content-wrap{
    padding-bottom: 20rem;
  }
}

