@use 'src/styles/vars';

//FOOTER

.footer {
  background-color: vars.$color-blue;
  width: auto;
  height: auto;
  
}

.footer__plan {  
  float: right;
  margin-right: 10%;

}

.footer__plan__link {
  display: block;
  font-size: 0.5em;
}
//HEADER

.topbar {
    margin-bottom: 1em;
}

.menu {
    margin-left: auto;
    margin-right:0px;
  //liens menu
  &__link {
    
  }
}
