@use 'src/styles/vars';

// MOBILE //

@media screen and (max-width: 992px) { 

  // HEADER //

  .header{
    position: sticky;
    top: 0px;
    z-index: 1001;
    
    &__navbar{
      box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.43);
      height: 60px;
      &__navbrand{
        position : absolute;
        left: 85px;
      }
      &__vr{
        width: 1px;
        height: 25px;
        background-color: grey;
        margin-left: 60px;
      }
      &__menu{
      }
      &__burger{
        position: absolute;
        left: 10px;
      }
      .navbar-collapse{
        background-color: #343a40;
        position: absolute;
        left:0px;
        top: 60px;
        width: 200px;
      }
      #collasible-nav-dropdown{
        color: #9a9da0;
      }
    }
  }

  // FOOTER //

  .footer {
    display: flex;
    flex-flow: wrap column;
    justify-content: space-around;
    position: absolute;
    width: 100%;
    height: auto;  
    padding-top: 2em;
    margin-top: 2em;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.43);
    background-color: #343a40;
    color: hsla(0,0%,100%,.5);
    bottom: 0;
    padding-bottom: 2em;
    &__img{
      display: none;
    }
    &__plan {
      display: flex;
      flex-flow: wrap column;
      margin-bottom: 25px;
      &__header{

      }
      &__content{
        display: flex;
      flex-flow: wrap column;
      }
    }
    &__legal{
      display: flex;
      flex-flow: wrap column;
      margin-bottom: 25px;
      &__header{
        
      }
      &__content{
        display: flex;
      flex-flow: wrap column;
      }
    }
    a {
      color: hsla(0,0%,100%,.5);
      font-size: 16px;
    }
    a:hover {
      color: hsla(0,0%,100%,.75);
      text-decoration: none;
    }
  }
}

// DESKTOP //

@media screen and (min-width: 992px) { 

  
  // HEADER //
  
  .header{
    position: sticky;
    top: 0px;
    z-index: 1001;
    &__navbar{
      box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.43);
      &__navbrand{  
      }
      &__vr{
        width: 1px;
        height: 25px;
        background-color: grey;
        margin-right: 10px;
      }
      &__menu{
      }
      #collasible-nav-dropdown{
        color: #9a9da0;
      }
    }
  }
  
  // FOOTER //

  .footer {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-around;
    position: absolute;
    width: 100%;
    height: auto;  
    padding-top: 2em;
    padding-bottom: 2em;
    margin-top: 2em;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.43);
    background-color: #343a40;
    color: hsla(0,0%,100%,.5);
    align-items: center;
    bottom: 0;
    &__plan {
      display: flex;
      flex-flow: wrap column;
      &__header{

      }
      &__content{
        display: flex;
      flex-flow: wrap column;
      }
    }
    &__legal{
      display: flex;
      flex-flow: wrap column;
      &__header{
        
      }
      &__content{
        display: flex;
      flex-flow: wrap column;
      }
    }
    a {
      color: hsla(0,0%,100%,.5);
      font-size: 16px;
    }
    a:hover {
      color: hsla(0,0%,100%,.75);
      text-decoration: none;
    }
  }
}



