@use 'src/styles/vars';

//FOOTER

.footer {
  background-color: vars.$color-blue;
  width: auto;
  height: auto;  
  padding-top: 2em;

  background-color: #343a40;
  color: hsla(0,0%,100%,.5);

  a {
    color: hsla(0,0%,100%,.5);
    font-size: 16px;
  }

  a:hover {
    color: hsla(0,0%,100%,.75);
    text-decoration: none;
  }
}

.informations {
  float: right;
}

.footer__plan {  

}

.plan-site {
  float: left;

}

.img-footer {

}

.footer__plan__link {
  display: block;
  font-size: 0.5em;
}
//HEADER

.topbar {
    margin-bottom: 1em;
}

.menu {
    margin-left: auto;
    margin-right:0px;
  //liens menu
  &__link {
    
  }
}
