@use 'vars';
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Niconne&display=swap');
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url ("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
}

body {
  font-family: 'Roboto', sans-serif;
  h1 {
    font-size: 1.2em;
  }

}

.btn-primary {
  background-color: #3C71B7!important;
  border-color: #3C71B7!important;
}

/* 
  // or you can import your own font
  @font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
  }

  body {
    font-family: 'Roboto', sans-serif;
  }
*/
