.backoffice{
    display: flex;
    flex-flow: row wrap;
    &__nav{
        position: absolute;
        left: 0px;
        bottom: 0px;
        top: 50px;
        display: flex;
        flex-flow: wrap column;
        background-color: #343a40;
        width: 70px;
        padding: 10px;
        text-align: left;
        height: initial;

        &__link{
            margin-left: 25px;
        }
        
        &__title{
            color: #ffffff;
        }
        &__link{
            display: flex;
            flex-flow: wrap column;
        }
    }
    &__body{
        display: flex;
        margin-left: 75px;
        margin-top: 25px;
        
        &__clients{
            margin-top: 25px;
        }
        &__tchat{
            min-width: 1000px;
            display: flex;
            flex-flow: row;
            height: 100%;
            
            &__clients{
                text-align: left;
                min-width: 300px;
                &__header{
                    display: flex;
                    justify-content: space-between; 
                    min-height: 86px;
                    align-items: center;

                    padding-left: 15px;
                    padding-right: 15px;
                }
                &__list{
                    min-height: 70px;
                    align-items: center;
                   margin-bottom: 0px;
                    
                    &__client{
                        padding: 15px;
                        border: none;
                    }
                }
            }
            &__messages{
                display: flex;
                flex-flow: column;
                &__header{
                    display: flex;
                    justify-content: space-between; 
                    text-align: left;
                    border: solid 1px;
                    border-color: #343a4025;
                    align-items: center;
                    padding-left: 15px;
                    padding-right: 15px;                    
                    &__info{
    
                    }
                    &__icons{
                        display: inline-flex;
                        &__icon{
                            margin: 10px;
                        }
                    }
                    
                }
                &__body{
                    display: flex;
                    flex-flow: row;

                    &__content{
                        background-color: #f4f5f76c;
                        text-align: left;
                        min-width: 700px;
                        height: 100%;
                    }
                    &__profile{
                        border: solid 1px;
                        border-color: #343a4025;
                    }
                }
            }         
        }

    .clients__row__cell{
        width: 125px;
    }



    }
}

