.backoffice{
    display: flex;
    flex-flow: row wrap;
    &__nav{
        position: absolute;
        left: 0px;
        bottom: 0px;
        top: 50px;
        display: flex;
        flex-flow: wrap column;
        background-color: #343a40;
        width: 70px;
        padding: 10px;
        text-align: left;
        height: initial;

        &__link{
            margin-left: 25px;
        }
        
        &__title{
            color: #ffffff;
        }
        &__link{
            display: flex;
            flex-flow: wrap column;
        }
    }
    &__body{
        display: flex;
        margin-left: 75px;
        margin-top: 25px;
        width: 100%;
        
        &__clients{
            width: 100%;
            margin-top: 25px;
            &__title{
                width: 100%;
                margin-bottom: 25px;
                text-align: left;
                &__hr{
                    margin: auto;
                    margin-right: 25px;
                }
            }
            &__subtitle{
                margin-left: 25px;
                margin-bottom: 25px;
                text-align: left;
                &__hr{
                    margin: auto;
                    margin-right: 25px;
                }
            }

            &__verify{
                width: 100%;
                &__body{
                    display: flex;
                    flex-flow: wrap row;
                    .clients{
                        margin: 20px;
                        width: auto;
                        text-align: left;
                    }
                }
            }
        }
        &__tchat{
            width: 100%;
            display: flex;
            flex-flow: row;
            height: 100%;
            
            &__clients{
                text-align: left;
                width: 20%;
                &__header{
                    display: flex;
                    justify-content: space-between; 
                    min-height: 86px;
                    align-items: center;

                    padding-left: 15px;
                    padding-right: 15px;
                }
                &__list{
                    min-height: 70px;
                    align-items: center;
                   margin-bottom: 0px;
                    
                    &__client{
                        padding: 15px;
                        border: none;
                    }
                }
            }
            &__messages{
                display: flex;
                flex-flow: column;
                width: 80%;
                &__header{
                    display: flex;
                    justify-content: space-between; 
                    text-align: left;
                    border: solid 1px;
                    border-color: #343a4025;
                    align-items: center;
                    padding-left: 15px;
                    padding-right: 15px;                    
                    &__info{
    
                    }
                    &__icons{
                        display: inline-flex;
                        &__icon{
                            margin: 10px;
                        }
                    }
                    
                }
                &__body{
                    display: flex;
                    flex-flow: row;

                    &__content{
                        position: relative;
                        background-color: #f4f5f76c;
                        -ms-overflow-style: none;  /* IE and Edge */
                        scrollbar-width: none;
                        overflow: scroll;
                        text-align: left;
                        width: 80%;
                        height: 80vh;
                        box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.23);
                        &__messages{
                            padding-bottom: 60px;
                            height: 90%;
                            overflow: scroll;
                            -ms-overflow-style: none;  /* IE and Edge */
                            scrollbar-width: none;
                        }
                        &__messages::-webkit-scrollbar{
                            display: none;
                        }
                        &__new{
                            position: sticky;
                            margin: auto;
                            bottom: 20px;
                            width: 95%;
                            border-radius: 5px;
                            .form-control{
                                background-color: #fafbfc;
                                box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,0.23);
                                height: 50px;
                            }
                            
                            
                        }
                    }
                    &__content::-webkit-scrollbar{
                        display: none;
                    }
                    &__profile{
                        width: 20%;
                        &__image{
                            margin: 25px;
                        }
                        &__name{
                        }
                        &__username{
                            
                        }
                        &__email{
                            
                        }
                        &__adress{
                            
                        }
                        &__dataform{
                            
                        }
                    }
                }
            }         
        }

    }
}

